*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes appearMoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes appearMoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes appearMoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* prevents animation from looking "shaky" */
  backface-visibility: hidden;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-left: 3.5rem;
    /* animation shorthand */
    animation: appearMoveInLeft 1s ease-out;
    /* animation-name: appearMoveInLeft;
      animation-duration: .9s;
      animation-timing-function: ease-out; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    margin-left: 1.74rem;
    animation-name: appearMoveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 1.8rem;
  text-transform: uppercase; }

.btn:link, .btn:visited {
  /* set to inline-block because it's an anchor element */
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #777;
  padding: 1.5rem 4rem;
  border-radius: 4rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: appearMoveInBottom 1s ease-out 0.75s;
  /* applies properties of 0% before load */
  animation-fill-mode: backwards; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("/img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr; }
  .header__logo-box {
    margin: 2rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    text-align: center;
    justify-self: center;
    align-self: center;
    transform: translateY(-5vh); }
  .header__btn {
    width: minmax(max-content, 1fr);
    margin: 0 auto; }

.section-about {
  background-color: #f7f7f7;
  padding-top: 25rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 10rem;
  margin-top: -20vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 3rem; }

.about__main-heading {
  grid-column: 1 / -1;
  justify-self: center; }

.about__text {
  grid-column: 1 / 2; }

.about__photos {
  grid-column: 2 / -1; }

.about__paragraph {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2.5rem; }

.about__btn {
  font-size: 1.5rem;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding-bottom: 0.5rem;
  color: #28b485;
  border-bottom: 1px solid currentColor;
  transition: all 0.2s; }
  .about__btn span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  .about__btn:hover {
    color: #7ed56f;
    transform: translateY(-2px);
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
    .about__btn:hover span {
      margin-left: 6px; }
  .about__btn:active {
    transform: translateY(1px);
    text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15); }

.gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr); }
  .gallery__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
    transition: all 0.3s; }
    .gallery__img:hover {
      transform: scale(1.05) translateY(-0.3rem);
      z-index: 20;
      outline: 1rem solid #28b485;
      outline-offset: 1.5rem; }
    .gallery__img-1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 3; }
    .gallery__img-2 {
      grid-column: 4 / span 4;
      grid-row: 2 / span 3; }
    .gallery__img-3 {
      grid-column: 2 / span 4;
      grid-row: 3 / span 3; }
  .gallery:hover .gallery__img:not(:hover) {
    transform: scale(0.95); }

.heading-tertiary-about {
  margin-bottom: 1rem;
  margin-top: 2rem; }
