.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("/img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr;

  &__logo-box {
    margin: 2rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    text-align: center;
    justify-self: center;
    align-self: center;
    transform: translateY(-5vh);
  }

  &__btn {
    width: minmax(max-content, 1fr);
    margin: 0 auto;
  }
}
