.popup {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__close {
    &:link,
    &:visited {
      color: #777;
      font-size: 4rem;
      position: absolute;
      top: 0.5rem;
      right: 2.5rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: rgba(0, 0, 0, 0.15);
      color: $color-primary;
    }
    &:active {
      transform: translateY(-1px);
    }
  }

  &__content {
    position: relative;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    transform: scale(0.1);
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: scale(1);
  }

  &__left {
    align-self: stretch;
    grid-row: 1 / -1;
  }

  &__right {
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  }
}
