.container-stories {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 5rem;
}

.story {
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  width: 75%;
  padding: 6rem;
  padding-left: 8rem;
  transform: skewX(-12deg);

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    filter: blur(0.3rem) brightness(80%);
    transform: translate(-50%, -50%) scale(1);
  }

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12.01deg);
  }

  &__text {
    transform: skewX(12deg);
  }

  &__img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    transition: all 0.3s;
    backface-visibility: hidden;
  }

  &__heading {
    margin-bottom: 1.5rem;
  }

  &__paragraph {
    font-size: 1.6em;
  }

  &__caption {
    font-size: 1.7rem;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
}

.section-stories-container-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  text-align: center;
}
