.booking {
  background-image: url(../../img/nat-10.jpg);
  background-size: cover;
  background-position: center;
  height: 50rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &__form-box {
    grid-column: 1 / span 7;
    background-image: linear-gradient(
      rgba($color-white, 0.8),
      rgba($color-white, 0.8)
    );
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    padding: 5rem;
  }
}

.form {
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-template-rows: repeat(5, 1fr);

  &__heading-box {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
  }
  &__group {
    grid-column: 1 / -1;

    &--1 {
      grid-row: 2 / span 1;
    }
    &--2 {
      grid-row: 3 / span 1;
    }
    &--3 {
      grid-row: 5 / span 1;
    }
  }

  &__radio-wrapper {
    width: 90%;
    grid-column: 1 / -1;
    grid-row: 4 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid $color-primary-dark;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    display: flex;
    align-items: center;
  }

  &__radio-input {
    appearance: none;
  }

  &__radio-label {
    font-size: 1.6rem;
    font-weight: 500;
    color: #555;
    margin-left: 1rem;
    cursor: pointer;
    display: flex;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
    position: relative;

    &::after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
