.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 5rem;
  margin-top: -20vh;

  //   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 3rem;
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("/img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
}

.section-tours {
  margin-top: -10rem;
  background-color: $color-grey-light-1;
  //   background-color: orangered;
  padding: 25rem 0 15rem 0;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  // background-color: $color-grey-light-1;
}

.section-book {
  margin-top: -5rem;
  padding: 15rem 20rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 1),
    rgba($color-primary-dark, 1)
  );
}

.footer {
  background-color: #333;
  padding: 10rem 2rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 1.2fr;
  align-items: center;

  &__logo-box {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
  }

  &__logo-img {
    height: 12rem;
    justify-self: center;
  }

  &__nav-box {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-size: 1.3rem;
    color: #fff;
  }

  &__nav-list {
    list-style: none;
    display: flex;
  }

  &__nav-link:link,
  &__nav-link:visited {
    width: 100%;
    height: 100%;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    transition: all 0.3s;
    text-align: center;
  }

  &__nav-link:hover,
  &__nav-link:active {
    background-color: #444;
  }

  &__copy-box {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    font-size: 1.3rem;
    color: #fff;
  }
}
