.section-about {
  background-color: $color-grey-light-1;
  padding-top: 25rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 10rem;
  margin-top: -20vh;

  //   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 3rem;
}
