.about {
  &__main-heading {
    grid-column: 1 / -1;
    justify-self: center;
  }

  &__text {
    grid-column: 1 / 2;
  }

  &__photos {
    grid-column: 2 / -1;
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
  }

  &__btn {
    font-size: 1.5rem;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding-bottom: 0.5rem;
    color: $color-primary-dark;
    border-bottom: 1px solid currentColor;
    transition: all 0.2s;
    cursor: pointer;

    & span {
      margin-left: 3px;
      transition: margin-left 0.2s;
    }

    &:hover {
      color: $color-primary-light;
      transform: translateY(-2px);
      text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);

      span {
        margin-left: 6px;
      }
    }

    &:active {
      transform: translateY(1px);
      text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;

    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);

    transition: all 0.3s;

    &:hover {
      transform: scale(1.05) translateY(-0.3rem);
      z-index: 20;
      outline: 1rem solid $color-primary-dark;
      outline-offset: 1.5rem;
    }

    &-1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 3;
    }
    &-2 {
      grid-column: 4 / span 4;
      grid-row: 2 / span 3;
    }
    &-3 {
      grid-column: 2 / span 4;
      grid-row: 3 / span 3;
    }
  }

  &:hover &__img:not(:hover) {
    transform: scale(0.95);
  }
}

.heading-tertiary-about {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
