.about {
  &__main-heading {
    grid-column: 1 / -1;
    justify-self: center;
  }

  &__text {
    grid-column: 1 / 2;
  }

  &__photos {
    grid-column: 2 / -1;
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;

    &:last-of-type {
      margin-bottom: 2.5rem;
    }
  }

  &__btn {
    font-size: 1.5rem;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0.5rem;
    color: $color-primary-light;
    border-bottom: 1px solid currentColor;
    transition: all 0.2s;

    & span {
      margin-left: 3px;
      transition: margin-left 0.2s;
    }

    &:hover {
      color: $color-primary-dark;
      transform: translateY(-2px);

      span {
        margin-left: 6px;
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);

  &__item {
    overflow: hidden;

    &--1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 3;
    }
    &--2 {
      grid-column: 4 / span 4;
      grid-row: 2 / span 3;
    }
    &--3 {
      grid-column: 2 / span 4;
      grid-row: 3 / span 3;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
}

.heading-tertiary-about {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
