.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-auto-rows: 1fr;
  transform: skewY(7deg);
  padding: 0 5rem;

  gap: 4rem;

  .feature-box {
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    // display: grid;
    // grid-template-columns: 1fr;
    // justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-1.5rem) scale(1.02);
    }
  }

  &__icon {
    font-size: 5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__heading {
    margin-bottom: 2rem;
  }
}
